/* Footer styles */
.footer{
  bottom: 0;
  position: fixed;
}
.bg-dark {
    background-color: #000000;
  }
  
  .text-white {
    color: #fff;
  }
  
  .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  .mr-3 {
    margin-right: 1rem;
  }