/* Custom styles for the navigation bar */
.navbar {
    background-color: #f8f9fa; /* Set your desired background color */
    border-bottom: 1px solid #dee2e6; /* Add a subtle border at the bottom */
    width: 100%;
  }
  
  .navbar-brand {
    font-weight: bold; /* Customize the brand font weight */
  }
  
  .navbar-nav .nav-link {
    color: #333; /* Set the link color */
    font-weight: 500; /* Customize the link font weight */
 
  }
  .logout-btn{
    
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #a1a1a1;
    padding: 8px;
    border-radius: 50px;
    margin-top: 10px;
  }
  .logout-btn:hover{
    
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #a1a1a1;
    padding: 8px;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Change link color on hover */
  }
  
  /* Optional: Adjust spacing or other styles as needed */
  .img{
    width: 20px;
    height: 20px;
  }
 .classTwo{
  min-height: 500px;
 }

 .nav-item {
  margin: 5pxpx;
 }